services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: always
    ports:
      - 7575:3000
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=100.82.226.103,100.82.226.103:7575,home.soot,all  
    networks:
      - lab-net

networks:
  lab-net:
    external: true        
