services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: always
    volumes:
      - ./data/conf:/opt/adguardhome/conf
      - ./data/work:/opt/adguardhome/work
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 3000:3000/tcp
      - 80:80/tcp
    networks:
      - lab-net

networks:
  lab-net:
    name: lab-net
